export VTROOT=/Users/siva.kommuri/Documents/third_party/vitess
export JAVA_HOME=/Library/Java/JavaVirtualMachines/adoptopenjdk-8.jdk/Contents/Home


PATH_add /usr/local/opt/mysql@5.7/bin
PATH_add ${VTROOT}/bin
